.audio-player {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 10px;
  row-gap: 10px;

  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 10px;

  &__controls {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
}
