.play-pause-stop-controls {
  display: flex;

  
  justify-content: center;
  align-items: end;
  width: 100%;
}

.play-pause-wraper {
  position: relative;

  width: 32px;
  height: 32px;

  stroke: white;

  & > svg {
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
  }
}

.stop-wraper {
  width: 28px;
  height: 28px;

  fill: white;

  & > svg {
    min-height: 100%;
    max-height: 100%;
  }
}

.hidden {
  opacity: 0;
}
