.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(20px);

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        width: 800px;
        height: 430px;

        padding: 5px;

        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}

.modal > .modal__content > .modal__left {
    display: grid;
    grid-template-rows: 70% auto;
    gap: 5px;
    height: inherit;
}

.modal__left > div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal__left > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal > .modal__content > .modal__right {
    display: grid;
    grid-template-rows: 30% auto;
    gap: 5px;
    height: inherit;
}

.modal__right > div {
    display: flex;
    flex-direction: column;
}
