@import "../../shared/vendor/normalize.scss";
@import "./vars.scss";

html,
body {
  box-sizing: border-box;
}

body {
  font-size: 10px;

  background-color: rgb(34, 34, 34); // Временная тема
}

*,
::before,
::after {
  box-sizing: inherit;
}

// GLOBAL STYLE
.btn {
  padding: 5px;

  border: none;

  user-select: none;

  cursor: pointer;
}

.btn-ghost {
  background-color: transparent;

  transition: 0.4s;
}

.btn-accent {
  background-color: #ffcc70;
}

.btn-primary {
  background-color: blue;

  transition: all 0.4s;
}

.btn-link {
  text-decoration: underline;
}

.text-stroke-1 {
  -webkit-text-stroke: 1px;
}

.text-stroke-5 {
  -webkit-text-stroke: 5px;
}

.text-stroke-black {
  -webkit-text-stroke-color: black;
}

.fw-700 {
  font-weight: 700;
}

.color-grad {
  background-image: linear-gradient(to right, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m-0 {
  margin: 0;
}

.p {
  padding: 0;
}

.border-bottom {
  border-bottom: 1px solid rgb(85, 85, 85);
}

.absolute {
  position: absolute;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed {
  position: fixed;
}

.bottom-0 {
  bottom: 0;
}

.bottom-10 {
  bottom: 10%;
}

.bottom-20 {
  bottom: 20%;
}

.top-0 {
  top: 0;
}

.top-5 {
  top: 5%;
}

.top-10 {
  top: 10%;
}

.top-20 {
  top: 20%;
}

.left-50 {
  left: 50%;
}

.transform-center-y {
  transform: translateY(50%);
}

.transform-center-x {
  transform: translateX(50%);
}

.z-index-2000 {
  z-index: 2000;
}
// << GLOBAL STYLE
