@import "../../shared/vendor/normalize.scss";

html,
body {
  box-sizing: border-box;
}

body {
  font-size: 10px;

  background-color: black; // Временная тема
}

*,
::before,
::after {
  box-sizing: inherit;
}
